ul{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
}
li{
    min-width: 120px;
    border:solid 2px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
button{
    border-radius: 6px;
}